@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;

  --background: var(--color-primary-dark);
  --foreground: var(--color-text);

  --color-primary-dark: #1E3A8A;
  --color-primary-sky: #3B82F6;
  --color-secondary-dark: #1E40AF;
  --color-secondary-sky: #60A5FA;
  --color-subtle-light: #DBEAFE;
  --color-gradient-blue: linear-gradient(to right, #1E3A8A, #3B82F6);
  --color-text: #FFFFFF;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
